$main: 'weather';

.main {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  min-height: 500px;
}

.#{$main} {
  &_container {
    display: flex;
    >div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 0 1 auto;
      border: 1px solid;
      border-color: #ccc;
      box-shadow: 0 9px 15px -7px #ccc;
      transition: border 0.3s ease-in, box-shadow 0.3s ease-in;
      border-radius: 4px;
      margin: 5px;
      padding: 5px;
      max-height: 210px;
      overflow-y: auto;
    }
    &-active {
      >div {
        box-shadow: 0 9px 15px -7px #39f21d;
        border-color: #39f21d;
        transition: all 0.3s ease-in;
      }
    }
  }
  &_block {
    display: flex;
    flex-direction: column;
    width: 165px;
    max-height: 202px;
    position: relative;
    border: 1px solid;
    border-color: #ccc;
    box-shadow: 0 7px 10px -7px #ccc;
    transition: border 0.3s ease-in, box-shadow 0.3s ease-in;
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
    &-active {
      box-shadow: 0 7px 10px -7px #f9ee18;
      border-color: #f9ee18;
      transition: all 0.3s ease-in;
    }
    &-title {
      padding: 6px;
      border-bottom: 1px solid;
      border-color: #ccc;
      >div {
        width: 100%;
      }
      >div >div {
        width: 100%;
      }
    }
    &-body {
      display: flex;
      flex-wrap: wrap;
      padding: 4px;
      overflow-y: auto;
    }
  }

  &_item {
    display: flex;
    align-items: center;
    height: 20px;
    width: 100%;
    padding: 3px;
    border-radius: 4px;
    margin: 3px;
    cursor: move;
    position: relative;
    background-color: #EBEBEB;
    >div:nth-child(1) {
      font-size: 12px;
      flex: 1 1 auto;
      height: 15px;
      width: 80px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    >div:nth-child(2) {
      margin-left: 4px;
      font-size: 12px;
    }
    &-row {
      flex-direction: column;
      width: 25px;
      height: 145px;
      & >div:nth-child(1) {
        max-height: 15px;
        transform: rotate(-90deg) translateX(-50px) translateY(-1px);
      }
      & >div:nth-child(2) {
        margin: 0;
        transform: translateY(95px);
      }
      img {
        transform: translateY(95px);
      }
    }
    &:hover {
      background-color: darken( #EBEBEB, 15%);
    }
    & img {
      width: 20px;
      height: 20px
    }
    &_highlight {
      background-color: #FF8C00;
    }
  }
}

.input {
  display: flex;
  position: relative;
  >div:nth-child(1) {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 12px;
  }
}

.input-edit {
  display: flex;
  input {
    width: 100%;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 4px;
    height: 20px;
    font-size: 12px;
    padding: 0 10px;
  }
  >div {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 7px;
    >div:nth-child(1) svg {
        fill: green;
    }
    >div:nth-child(2) svg {
        fill: red;
    }
    >div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      border: 1px solid;
      border-color: #ccc;
      border-radius: 4px;
      transition: background-color 0.1s ease-in;
      svg {
        width: 12px;
        height: 12px;
        shape-rendering: auto;
      }
      &:nth-child(1) {
        margin-right: 3px;
      }
      & >div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        background-color: #EBEBEB;
        transition: all 0.1s ease-in;
      }
    }
  }
}

.button_block {
  display: flex;
  flex-direction: row;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  margin: 3px;
  padding: 0;
  background-color: darken( #EBEBEB, 20%);
  border: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  svg {
    width: 15px;
    height: 15px;
  }
  &:hover {
    transition: background-color 0.1s ease-in;
    background-color: darken( #EBEBEB, 35%);
  }
  &_add-block {
    background-color: #fff200;
    &:hover {
      transition: background-color 0.1s ease-in;
      background-color: darken( #fff200, 4%);
    }
  }
}

.button_close {
  display: none;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -4px;
  top: -4px;
  border-radius: 100%;
  background-color: #EBEBEB;
  cursor: pointer;
  svg {
    width: 35px;
    height: 35px;
    shape-rendering: auto;
  }
  &_active {
    display: flex;
  }
  &_block {
    right: -8px;
    top: -8px;
  }
}

.button_pencil {
  position: absolute;
  top: 1px;
  right: 1px;
  svg {
    width: 17px;
    height: 17px;
    shape-rendering: auto;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.modal__city-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 30%;
  border-radius: 5px;
  background-color: #30db44;
  position: relative;
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #EBEBEB;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    svg {
      width: 14px;
      height: 14px;
      shape-rendering: auto;
    }
    &:hover {
      transition: background-color 0.1s ease-in;
      background-color: darken( #EBEBEB, 15%);
    }
  }
}

.autocomplete {
  display: flex;
  justify-content: center;
  >div >div {
    width: 300px;
  }
  input {
    width: 300px;
  }
}

.highlight {
  transition:  background-color 2s 0s ease;
  background-color: #FF8C00;
}

.backlight {
  transition:  background-color 2s 0s ease;
  background-color: #EBEBEB;
}

.navigation {
  display: inline-flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: #EBEBEB;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  .navigation_button {
    display: flex;
    padding: 0 8px;
    border-bottom: 1px solid transparent;
    position: relative;
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: red;
        transition: color 0.1s ease-in;
      }
    }
    &_home {
      &:hover:after {
        top: 164% !important;
      }
    }
    &_container {
      display: inline-flex;
    }
    &:hover:after {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      border: 1px solid #ccc;
      border-bottom: 0;
      border-right: 0;
      top: 127%;
      left: 50%;
      transform: rotate(45deg) translate(-50%);
      background-color: #fff;
    }
    &:not(:last-child):before {
      content: '';
      position: absolute;
      height: 100%;
      right: 0px;
      top: 50%;
      transform: translate(0, -50%);
      border: 1px solid #ccc;
    }
    &_active {
      font-weight: 700;
      line-height: 100%;
      color: red !important;
    }
  }
}

.button_home {
  transform: rotate(0deg);
  transition: all 0.3s ease-in;
  &:hover {
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
  }
  img {
    height: 30px;
    width: 30px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  &_navigation {
    display: inline-flex;
  }
}
